html,
body {
    margin: 0px;
    height: 100px;
}

.main-page {
    max-width: 1920px;
    height: 1280px;
    background: linear-gradient(270deg, #b7daed 0%, #fcfefe 100%);
}

.main-wrapper {
    height: auto;
    width: 1170px;
    display: flex;
    margin: 0 auto;
}

.main-page-wrap {
    display: flex;
    margin-top: 204px;
}

.LOGO {
    width: 99px;
    height: 31px;
    margin-top: 32px;
    margin-bottom: 60px;
}

.main-page-text-container {
    border-radius: 40px;
    width: 573px;
    height: 423px;
    padding-top: 93px;
    padding-left: 60px;
    padding-right: 60px;
    background: #fff;
    box-sizing: border-box;
}

.main-page-texTitle {
    font-size: 64px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 54px;
    line-height: 112%;
    margin-top: 0px;
    margin-bottom: 27px;
    color: black;
}

.main-page-TEXT {
    font-family: font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 27px;
    margin-bottom: 33px;
    color: black;
}

.main-page-btn {
    border: none;
    color:#fff;
    background: orange;
    border-radius: 10px;
    width: 170px;
    height: 52px;  
    margin-bottom: 74px;
}

.tryzyb {
    fill: #f2cd13;
    width: "30";
    height: "53";
    viewBox: "0 0 30 53";
}