.Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 274px);
    gap: 29px;
};

.Wrapper {
     border: 1px solid black;
    border-radius: 4px;
};
.Wrapper >a {
    text-decoration: none;
}

.AutoName{
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 0;
    color: black;
};