.catalog {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* width: 100%; */
    /* max-width: 1440px; */
    padding: 0px 128px;
}

.catalog_input_wrap {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.catalog_input {
    display: grid;
    gap: 8px;
}

.catalog_input_title {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #8A8A89;
}

.catalog_input_form1[type=text],textarea {
    /* position: fixed; */
    display: flex;
    width: 224px;
    height: 48px;
    font-size: 20px;
    background: #F7F7FB;
    border: none;
    outline: none;
    border-radius: 14px;
    padding: 0px 15px;
    z-index: 1;
}

.autoDataList {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    transform: translateX(-10px);
    z-index: 100;
}

.catalog_input_form2 {
    display: flex;
    width: 125px;
    height: 48px;
    background: #F7F7FB;
    border: none;
    outline: none;
    border-radius: 14px;

}

.catalog_input_unite {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.catalog_input_form3 {
    width: 160px;
    height: 48px;
    border-radius: 14px 0px 0px 14px;
    border: 0px 2px 0px 0px;
    border-right: 2px solid #8A8A8933;
    border: none;
    outline: none;
    background: #F7F7FB;
    padding: 0;
    padding-left: 15px;
    margin: 0;
}

.catalog_input_form4 {
    width: 160px;
    height: 48px;
    left: 160px;
    border-radius: 0px 14px 14px 0px;
    border: none;
    outline: none;
    background: #F7F7FB;
    padding: 0px;
    padding-left: 15px;
}

.catalog_auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px, auto));
    gap: 29px;
    padding-top: 20px;
   
}

.btn {
    display: flex;
    width: 274px;
    height: 44px;

    padding: 12px 99px;
    margin: 20px 0px;
    border-radius: 14px;
    border: none;

    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

    background-color: #3470FF;
    color: #ffffff;
}

/* .catalog_auto_board {
    width: 174px;
    height: auto;
    margin: 0;
    padding: 0;
} */
