.AppHeader {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 20px;
    margin-right: 128px;
    margin-left: 128px;
    border-bottom: 2px solid #8A8A8933;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: right;
    color: white;

    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: left;

    text-decoration: none;
}